<nav class="secondary-navbar">
    <ul>
        <li><a href="/academic-details">Academic Details</a></li>
        <li><a href="/work-experience">Work Experience</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/certifications">Certifications</a></li>
    </ul>
</nav>